/* ======================================================================================================================================
                                                     Web Fonts
====================================================================================================================================== */
/* --- Source of font: https://fonts.google.com/specimen/Montserrat &
https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin  --- */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/* ======================================================================================================================================
                                                     Base Element Styles
====================================================================================================================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
    line-height: 1.2;
    background: rgb(248, 249, 250);
    margin: 0 auto;
}


p {
    font-size: 1.1em;
    margin: 1em 1.4em 0;
}

h1 {
    font-weight: bolder;
    margin: 0;
}

h2 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.2em;
}

h3 {
    font-weight: 500;
    margin-top: 1.2em;
}

ul {
    list-style: none;
    padding-left: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    display: block;
    margin: 0;
}

img {
    max-width: 90%;
}

/* ----------------------------------------------------- Pseudo-classes ---------------------------------------------------------------- */

a:link {
    color:  rgb(166, 97, 212);
}

a:visited {
    color:  rgb(108, 10, 153);
}

a:hover {
    color: rgb(68, 212, 212);
}

a:active {
    color: rgb(194, 137, 127);
}

/* ======================================================================================================================================
                                                     Base Layout Styles
====================================================================================================================================== */

/* ----------------------------------------------------- Main Navigation (Header) ---------------------------------------------------------------- */

.main-header {
    position: relative;
    width: 100%;
    top: 0;
}

.main-nav {
    background: linear-gradient( rgb(255, 241, 255) 80%,rgb(247, 239, 247) 90%, transparent);
    padding: 20px 0;
}

    .name {
        display: block;
        text-align: center;
        font-size: 1.2em;
        color:  rgb(74, 6, 105);
        font-weight: 800;
    }

    .name,
    .main-nav a {
        text-align: center;
        padding: 5px 5px;
        }

    .main-nav a {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: normal;
        font-size: 1em;
        border-bottom: 2px solid rgb(210, 190, 221);
    }

/* ----------------------------------------------------- Main Navigation (Footer) ---------------------------------------------------------------- */

.main-footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

.name-footer {
    display: inline-block;
    float: left;
    text-align: left;
    font-size: 16px;
    color:  rgb(74, 6, 105);
    font-weight: 800;
    padding: 8px 5px;
    line-height: 0;
}

.main-nav-footer {
    float: right;
}

.main-nav-footer li {
    float: left;
}

.footer-nav-1 a {
    float: right;
}


.main-nav-footer a {
    display: inline-block;
    padding: 5px 5px;
    }

.footer-nav-1 a,
.main-nav-footer a {
    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 14px;
    }


.main-nav-footer a {
    border-bottom: 2px solid rgb(210, 190, 221);
    margin: 0 5px;
    display: none;
}


/* ----------------------------------------------------- Layout Containers ---------------------------------------------------------------- */

.banner {
    padding: 10px 0;
    margin-bottom: 0;
   }

.bio {
    display: block;
    padding-right: 2em;
    padding-left: 2em;
    font-size: 1.1em;
}

.profile-img {
    width: 300px;
    display: block;
    margin: 2em auto;
}

.portfolio,
.skills {
    background: rgba(255, 255, 255);
}

.banner,
.skills,
.contact,
.main-footer {
    color: darkslategrey;
   
}

.col {
    padding-right: 1em;
    padding-left: 1em;
    margin: 2em 0;
}

.contact {
    margin-bottom: 0;
}

.banner,
.portfolio,
.skills,
.contact,
.main-footer {
    padding: 2.5em 0 2.5em;
}

.contact a {
    display: inline-block;
 }

.main-footer {
    border-top: 2px solid rgba(160, 89, 160, 0.568);
    padding: 48px;
}

/* ===========================================
                 Media Queries 
============================================== */

@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
    }

    main {
        margin: 0 auto;
        background:rgb(248, 249, 250);
    }

    img {
        max-width: 100%;
    }

    .col {
        float: left;
        width: 50%;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }

    .main-header {
        padding-bottom: 10px;
    }

    .main-nav li {
        display: inline-block;
        text-align: center;
        margin: 0 10px;
    }

    .main-nav a {
        border-bottom-color: transparent;
    }

    a:hover {
        border-bottom: 1px solid rgb(68, 212, 212);

    }

    .bio {
        font-size: 1.325em;
        text-align: left;
        padding: 3em 1.2em 2em 0.8em;
    }

    .profile-img {
        float: right;
        width: 300px;
        margin: 2em 1em;
    }

    .main-footer {
        padding: 48px;
    }

    .name-footer {
        font-size: 18px;
        text-align: left;
        padding: 30px 5px;
    }

    .main-nav-footer a {
        display: inline-block;
        text-align: right;
        direction: ltr;
        padding: 2px 5px;
     }

    .footer-nav-1 {
        display: none;
    }

    /* --- Float Clearfix --- */

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }

}

@media (min-width: 1024px) {
  
    body {
        padding-top: 5px;
    }

    .main-nav {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .main-nav-links {
        float: right;
    }

    .name {
        display: inline-block;
        float: left;
        text-align: left;
        padding-top: 18px;
    }

    .name-footer {
        padding-top: 28px;
    }

    .main-nav li {
        float: left;
        padding: 0 5px;
    }

    .main-nav a {
        float: right;
    }


    .bio {
        font-size: 1.25em;
    }

    .profile-img {
        width: 460px;
        margin-left: 5em;
    }

    img {
        max-width: 98%;
    }

    .container,
    .skills {
        width: 100%;
        max-width: 1140px;
    }
    
    .col {
        width: 33.333%;
    }
}